* {
  box-sizing: border-box;
}

.streakPopup {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f5f6f8;
  width: 430px;
  height: 932px;
  overflow: hidden;
  backdrop-filter: blur(2px);

  .rectangle5 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: #11182799;
    padding-bottom: 1px;

    .aIPhoneXBarsStatusDe {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding: 14px 20px 12px 8px;
      min-width: 430px;

      .aTime {
        width: 54px;
        text-align: center;
        letter-spacing: -0.17px;
        color: #ffffff;
        font-family: "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
      }

      .container {
        margin-top: 3px;
        width: 67px;
        height: 12px;
      }
    }

    .autoWrapper2 {
      position: relative;
      margin-top: 142px;
      width: 430px;
      height: 746px;

      .rectangle9 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        border-radius: 32px 32px 0px 0px;
        background: #ffffff;
        padding: 14px 36px 63px 35px;
        width: 430px;
        height: 746px;

        .rectangle10 {
          border-radius: 100px;
          background: #d9d9d9;
          width: 48px;
          height: 6px;
        }

        .autoWrapper {
          position: relative;
          margin-top: 43px;
          width: 359px;
          height: 620px;

          .frame49 {
            display: flex;
            position: absolute;
            top: -9px;
            left: 132px;
            align-items: flex-start;
            padding-top: 9px;
            padding-left: 6px;
            width: 88px;
            height: 88px;

            .rectangle6 {
              border-radius: 100px;
              background: #f9731633;
              width: 88px;
              height: 88px;
              filter: blur(20px);
            }
          }

          .frame63 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 359px;
            height: 620px;
            row-gap: 32px;

            .layer2 {
              flex-shrink: 0;
              width: 66px;
              height: 88px;
            }

            .youAreOnA5DayStreak3 {
              flex-shrink: 0;
              text-align: center;
              line-height: 40px;
              letter-spacing: -0.17px;
              color: #000000;
              font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
              font-weight: 700;

              .youAreOnA5DayStreak {
                letter-spacing: -0.17px;
                color: #111827;
                font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 700;
              }

              .youAreOnA5DayStreak2 {
                letter-spacing: -0.17px;
                color: #0d59f2;
                font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 700;
              }
            }

            .completeAnInterviewT {
              flex-shrink: 0;
              text-align: center;
              line-height: 20px;
              letter-spacing: -0.17px;
              color: #6b7280;
              font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .frame60 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border: 1px solid #f3f4f6;
              border-radius: 16px;
              background: #f9fafb;
              padding: 19px;
              row-gap: 16px;

              .frame58 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: center;
                column-gap: 8px;

                .m {
                  flex-shrink: 0;
                  align-self: stretch;
                  text-align: center;
                  letter-spacing: -0.17px;
                  color: #9ca3af;
                  font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }

                .frame51 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  row-gap: 8px;

                  .frame6 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    align-self: stretch;
                    column-gap: 10px;
                    border-radius: 100px;
                    box-shadow: 0px 1px 2px 0px #0d59f20d;
                    background: #0d59f2;
                    padding: 10px;
                    overflow: hidden;

                    .frame {
                      flex-shrink: 0;
                      width: 16px;
                      height: 16px;
                      overflow: hidden;
                    }
                  }
                }

                .frame61 {
                  display: inline-flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  row-gap: 8px;

                  .today {
                    flex-shrink: 0;
                    width: 47px;
                    text-align: center;
                    letter-spacing: -0.17px;
                    color: #0d59f2;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                  }

                  .group7 {
                    position: relative;
                    flex-shrink: 0;
                    width: 41px;
                    height: 41px;

                    .frame50 {
                      display: flex;
                      position: absolute;
                      top: 4px;
                      left: 4px;
                      align-items: center;
                      column-gap: 10px;
                      border: 3px solid #0d59f2;
                      border-radius: 100px;
                      box-shadow: 0px 1px 2px 0px #0d59f20d;
                      background: #ffffff;
                      padding: 7px;
                      width: 32px;
                      height: 32px;
                      overflow: hidden;

                      .rectangle7 {
                        flex-shrink: 0;
                        border-radius: 100px;
                        background: #0d59f2;
                        width: 12px;
                        height: 12px;
                      }
                    }

                    .rectangle8 {
                      position: absolute;
                      top: 0;
                      left: 0;
                      border-radius: 100px;
                      background: #0d59f233;
                      width: 41px;
                      height: 41px;
                    }
                  }
                }

                .frame57 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  row-gap: 8px;

                  .frame502 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    align-self: stretch;
                    column-gap: 10px;
                    border: 2px solid #d1d5db;
                    border-radius: 100px;
                    box-shadow: 0px 1px 2px 0px #0d59f20d;
                    background: #f3f4f6;
                    padding: 8px;
                    overflow: hidden;
                  }
                }
              }

              .frame59 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: center;
                column-gap: 8px;
                margin-right: 51px;
                margin-left: 51px;
                border-radius: 16px;
                background: #fffbeb;
                padding: 8px 12px;

                .frame2 {
                  flex-shrink: 0;
                  width: 18px;
                  height: 18px;
                  overflow: hidden;
                }

                .donTBreakTheChain {
                  flex-shrink: 0;
                  line-height: 20px;
                  letter-spacing: -0.17px;
                  color: #d97706;
                  font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }
            }

            .frame62 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 8px;
              border-radius: 20px;
              box-shadow: 0px 4px 6px -4px #0d59f240,
                0px 10px 15px -3px #0d59f240;
              background: #0d59f2;
              padding: 14px 56px;
              overflow: hidden;

              .startPracticeIntervi {
                flex-shrink: 0;
                line-height: 23px;
                letter-spacing: -0.17px;
                color: #ffffff;
                font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 700;
              }

              .frame3 {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                overflow: hidden;
              }
            }

            .maybeLater {
              flex-shrink: 0;
              align-self: stretch;
              text-align: center;
              letter-spacing: -0.17px;
              color: #6b7280;
              font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }

          .frame4 {
            position: absolute;
            top: -21px;
            right: -4px;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }
        }
      }

      .aIPhoneXHomeIndicato {
        display: flex;
        position: absolute;
        bottom: -1px;
        left: 0;
        align-items: flex-start;
        padding: 21px 148px 8px 147px;
        width: 430px;
        height: 34px;

        .line {
          border-radius: 100px;
          background: var(--Black-01, #191d31);
          width: 135px;
          height: 5px;
        }
      }
    }
  }
}
