* {
  box-sizing: border-box;
}

.frame42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 398px;
  height: 108px;
  row-gap: 16px;

  .frame41 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .resetsIn {
      flex-shrink: 0;
      line-height: 15px;
      letter-spacing: -0.17px;
      color: #64748b;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-transform: UPPERCASE;
    }

    .frame40 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 4px;

      .frame {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .a5DayStreak {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: -0.17px;
        color: #f97316;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  .frame39 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 17px;

    .frame36 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      row-gap: 4px;

      .frame30 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border: 1px solid #f1f5f9;
        border-radius: 16px;
        box-shadow: 0px 1px 2px 0px #0000000d;
        background: #ffffff;
        padding: 15px 38px;
        height: 55px;

        .a12 {
          flex-shrink: 0;
          line-height: 23px;
          letter-spacing: -0.17px;
          color: #0f172a;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .hOurs {
        flex-shrink: 0;
        line-height: 13px;
        letter-spacing: -0.17px;
        color: #64748b;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}
