@import "tailwindcss";
@import "uniwind";

@theme {
    /* Fonts */
    --font-lexend: "Lexend", sans-serif;

    /* Colors */
    --color-primary-100: #2563EB;
    --color-primary-200: #DBEAFE;
    --color-primary-300: rgba(13, 89, 242, 0.1);

    --color-black: #0F172A;
    --color-black-100: #4B5563;
    --color-black-200: #64748B;

    --color-background: #F5F6F8;
}