@import "tailwindcss";
@import "uniwind";

@theme {
	/* Fonts */
	--font-lexend: "Lexend", sans-serif;

	/* Colors */
	--color-primary-100: #2563eb;
	--color-primary-200: #dbeafe;
	--color-primary-300: rgba(13, 89, 242, 0.1);

	--color-black: #0f172a;
	--color-black-100: #4b5563;
	--color-black-200: #64748b;

	--color-dusk-blue: #49659c;

	--color-background: #f5f6f8;
}
