* {
  box-sizing: border-box;
}

.frame5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #f1f5f9;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  background: #ffffff;
  padding: 15px;
  width: 246px;
  height: 181px;
  row-gap: 12px;

  .frame1 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;
    margin-right: 160px;
    border-radius: 100px;
    background: #eef2ff;
    padding: 12px;

    .frame {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      overflow: hidden;
    }
  }

  .frame3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    row-gap: 10px;

    .productManager {
      flex-shrink: 0;
      line-height: 23px;
      letter-spacing: -0.17px;
      color: #1e293b;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }

    .manager {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: -0.17px;
      color: #64748b;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .frame6 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    min-width: 214px;

    .frame4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 4px;
      width: 106px;

      .vector {
        flex-shrink: 0;
        width: 12px;
        height: 11px;
      }

      .a48 {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: -0.17px;
        color: #334155;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }

      .a12KReviews {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: -0.17px;
        color: #94a3b8;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .frame2 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }
  }

  .frame7 {
    display: inline-flex;
    position: absolute;
    top: -1px;
    left: 176px;
    flex-shrink: 0;
    align-items: center;
    column-gap: 10px;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-radius: 0px 16px 0px 12px;
    border-color: #f1f5f9;
    background: #0d59f21a;
    padding: 9px 9px 10px 10px;
    width: 69px;
    height: 33px;

    .pOpular {
      flex-shrink: 0;
      line-height: 13px;
      letter-spacing: -0.17px;
      color: #0d59f2;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
    }
  }
}
