* {
  box-sizing: border-box;
}

.homeTab {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: #f5f6f8;
  width: 430px;
  height: 932px;
  overflow: hidden;

  .frame10 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .pOpular {
    flex-shrink: 0;
    line-height: 13px;
    letter-spacing: -0.17px;
    color: #0d59f2;
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 700;
  }

  .frame {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .seniorUxDesigner {
    flex-shrink: 0;
    align-self: stretch;
    letter-spacing: -0.17px;
    color: #0f172a;
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .medium {
    flex-shrink: 0;
    line-height: 13px;
    letter-spacing: -0.17px;
    color: #475569;
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
  }

  .frame142 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: #f1f5f9;
    padding: 2px 8px;
    width: 60px;
    min-width: 60px;
  }

  .frame163 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;

    .frame76 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 10px;
      margin-right: 46px;

      .frame144 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        background: #ccfbf1;
        padding: 2px 8px;
        width: 60px;
        min-width: 60px;
      }
    }
  }

  .frame1 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background: #ffffff;
    padding: 44px 16px 12px;
    min-width: 430px;

    .image5 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 100px;
      padding-top: 28px;
      padding-left: 28px;
      background-image: url(../image/mjysxrvy-z27gkjl.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle2 {
        border: 2px solid #ffffff;
        border-radius: 100px;
        background: #22c55e;
        width: 12px;
        height: 12px;
      }
    }

    .statusIndicator {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;

      .streak {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;
        border: 1px solid #ffedd5;
        border-radius: 100px;
        background: #fff7ed;
        padding: 5px 7px;

        .a12 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: -0.17px;
          color: #ea580c;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .gems {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;
        border: 1px solid #dbeafe;
        border-radius: 100px;
        background: #eff6ff;
        padding: 5px 7px;

        .a450 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: -0.17px;
          color: #2563eb;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .vIpStatus {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;
        border: 1px solid #fef9c3;
        border-radius: 100px;
        background: #fefce8;
        padding: 5px 7px;

        .vIp {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: -0.17px;
          color: #ca8a04;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }

    .aIPhoneXBarsStatusDe {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: space-between;
      padding: 14px 20px 12px 8px;
      width: 430px;
      height: 44px;

      .aTime {
        width: 54px;
        text-align: center;
        letter-spacing: -0.17px;
        color: var(--Black-01, #191d31);
        font-family: "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
      }

      .container {
        margin-top: 3px;
        width: 67px;
        height: 12px;
      }
    }
  }

  .featuredInterviews {
    margin: 20px 0px 0px 16px;
    width: 398px;
    line-height: 23px;
    letter-spacing: -0.17px;
    color: #0f172a;
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .autoWrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 12px;
    padding-right: -90px;
    padding-left: 16px;

    .frame2 {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      overflow: hidden;
    }

    .frame7 {
      display: inline-flex;
      position: absolute;
      top: -1px;
      left: 176px;
      flex-shrink: 0;
      align-items: center;
      column-gap: 10px;
      border-width: 1px 1px 0px 0px;
      border-style: solid;
      border-radius: 0px 16px 0px 12px;
      border-color: #f1f5f9;
      background: #0d59f21a;
      padding: 9px 9px 10px 10px;
      width: 69px;
      height: 33px;
    }

    .frame3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      row-gap: 10px;

      .productManager {
        flex-shrink: 0;
        line-height: 23px;
        letter-spacing: -0.17px;
        color: #1e293b;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }

      .sales {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: -0.17px;
        color: #64748b;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .frame6 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      min-width: 214px;

      .frame4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;
        width: 106px;

        .vector {
          flex-shrink: 0;
          width: 12px;
          height: 11px;
        }

        .a48 {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: -0.17px;
          color: #334155;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }

        .a12KReviews {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: -0.17px;
          color: #94a3b8;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .frame5 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid #f1f5f9;
      border-radius: 16px;
      box-shadow: 0px 1px 2px 0px #0000000d;
      background: #ffffff;
      padding: 15px;
      row-gap: 12px;

      .frame12 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        margin-right: 160px;
        border-radius: 100px;
        background: #eef2ff;
        padding: 12px;
      }
    }

    .frame52 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid #f1f5f9;
      border-radius: 16px;
      box-shadow: 0px 1px 2px 0px #0000000d;
      background: #ffffff;
      padding: 15px;
      row-gap: 12px;

      .frame13 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        margin-right: 160px;
        border-radius: 100px;
        background: #ecfdf5;
        padding: 12px;
      }
    }
  }

  .frame32 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 25px 16px 0px;
    min-width: 398px;

    .ourRecommendations {
      flex-shrink: 0;
      line-height: 23px;
      letter-spacing: -0.17px;
      color: #0f172a;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }

    .seeAll {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: -0.17px;
      color: #0d59f2;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .frame133 {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 16px;
    margin: 12px -105px 0px 16px;

    .frame8 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      border-radius: 100px;
      background: #0f172a;
      padding: 8px 16px;
      height: 38px;

      .all {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 18px;
        letter-spacing: -0.17px;
        color: #ffffff;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .frame9 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e2e8f0;
      border-radius: 100px;
      background: #ffffff;
      padding: 7px 15px;
      height: 38px;

      .iT {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 18px;
        letter-spacing: -0.17px;
        color: #0f172a;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .frame132 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e2e8f0;
      border-radius: 100px;
      background: #ffffff;
      padding: 7px 15px;
      height: 38px;

      .design {
        flex-shrink: 0;
        width: 54px;
        text-align: center;
        letter-spacing: -0.17px;
        color: #0f172a;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .frame18 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 55px;
    margin-top: 14px;
    margin-left: 16px;
    border: 1px solid #f1f5f9;
    border-radius: 32px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    background: #ffffff;
    padding: 15px 24px 15px 15px;
    width: 398px;

    .frame70 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 33px;

      .frame42 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 100px;
        background: #f3e8ff;
        padding: 12px;
      }

      .frame16 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;

        .frame74 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 10px;
          margin-right: 46px;

          .frame14 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            border-radius: 6px;
            background: #fef9c3;
            padding: 2px 8px;
            width: 60px;
            min-width: 60px;
          }
        }
      }
    }
  }

  .frame19 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 55px;
    margin-top: 12px;
    margin-left: 16px;
    border: 1px solid #f1f5f9;
    border-radius: 32px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    background: #ffffff;
    padding: 15px 24px 15px 15px;
    width: 398px;

    .frame71 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 33px;

      .frame43 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 100px;
        background: #fce7f3;
        padding: 12px;
      }

      .frame162 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;

        .frame75 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 10px;
          margin-right: 46px;

          .frame143 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            border-radius: 6px;
            background: #fee2e2;
            padding: 2px 8px;
            width: 60px;
            min-width: 60px;
          }
        }
      }
    }
  }

  .frame20 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 55px;
    margin-top: 12px;
    margin-left: 16px;
    border: 1px solid #f1f5f9;
    border-radius: 32px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    background: #ffffff;
    padding: 15px 24px 15px 15px;
    width: 398px;

    .frame72 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 33px;

      .frame44 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 100px;
        background: #ecfdf5;
        padding: 12px;
      }
    }
  }

  .frame21 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 55px;
    margin-top: 12px;
    margin-left: 16px;
    border: 1px solid #f1f5f9;
    border-radius: 32px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    background: #ffffff;
    padding: 15px 24px 15px 15px;
    width: 398px;

    .frame73 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 33px;

      .frame45 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 100px;
        background: #dbeafe;
        padding: 12px;
      }
    }
  }

  .frame26 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 35px;
    background: #ffffff;
    padding: 8px 48px 32px;
    min-width: 430px;

    .frame23 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      row-gap: 4px;

      .frame53 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border-radius: 100px;
        background: #0d59f21a;
        padding: 4px 16px;
        overflow: hidden;
      }
    }

    .frame24 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      row-gap: 4px;

      .explore {
        flex-shrink: 0;
        line-height: 13px;
        letter-spacing: -0.17px;
        color: #94a3b8;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 700;
      }
    }

    .aIPhoneXHomeIndicato {
      display: flex;
      position: absolute;
      top: 55px;
      left: 0;
      flex-shrink: 0;
      align-items: flex-start;
      padding: 21px 148px 8px 147px;
      width: 430px;
      height: 34px;

      .line {
        border-radius: 100px;
        background: var(--Black-01, #191d31);
        width: 135px;
        height: 5px;
      }
    }
  }

  .group4 {
    position: absolute;
    top: 771px;
    left: 206px;
    width: 217px;
    height: 57px;

    .frame22 {
      display: inline-flex;
      position: absolute;
      top: 9px;
      left: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 2px solid #ffffff33;
      border-radius: 100px;
      box-shadow: 0px 10px 15px -3px #3b82f64d, 0px 4px 6px -4px #3b82f64d;
      background: #0d59f2;
      padding: 10px 18px;
      width: 208px;
      height: 48px;
      overflow: hidden;

      .newInterview {
        flex-shrink: 0;
        line-height: 23px;
        letter-spacing: -0.17px;
        color: #ffffff;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }
    }

    .frame46 {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 187px;
      align-items: flex-start;
      column-gap: 10px;
      border: 2px solid #ffffff;
      border-radius: 100px;
      box-shadow: 0px 1px 1px 0px #0000000d;
      background: #facc15;
      padding: 6px;
      width: 30px;
      height: 30px;
      overflow: hidden;

      .frame11 {
        flex-shrink: 0;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }
    }
  }
}
