* {
  box-sizing: border-box;
}

.interviewDetail {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f5f6f8;
  width: 430px;
  height: 932px;
  overflow: hidden;
  backdrop-filter: blur(2px);

  .rectangle5 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: #11182799;
    padding-bottom: 1px;

    .aIPhoneXBarsStatusDe {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding: 14px 20px 12px 8px;
      min-width: 430px;

      .aTime {
        width: 54px;
        text-align: center;
        letter-spacing: -0.17px;
        color: #ffffff;
        font-family: "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
      }

      .container {
        margin-top: 3px;
        width: 67px;
        height: 12px;
      }
    }

    .autoWrapper {
      position: relative;
      margin-top: 189px;
      width: 430px;
      height: 699px;

      .rectangle9 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 32px 32px 0px 0px;
        background: #ffffff;
        padding: 13px 16px 39px;
        width: 430px;
        height: 699px;

        .rectangle10 {
          margin-left: 175px;
          border-radius: 100px;
          background: #d9d9d9;
          width: 48px;
          height: 5px;
        }

        .frame {
          margin-top: 22px;
          margin-left: 358px;
          width: 24px;
          height: 26px;
          overflow: hidden;
        }

        .frame170 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 1px;
          row-gap: 32px;

          .frame169 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 24px;

            .reviews {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: -0.17px;
              color: #0f172a;
              font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
              text-transform: UPPERCASE;
            }

            .frame3 {
              flex-shrink: 0;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }

            .frame168 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              row-gap: 24px;

              .frame167 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                margin-right: 73px;
                margin-left: 73px;
                row-gap: 32px;

                .frame4 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  column-gap: 10px;
                  margin-right: 83px;
                  margin-left: 83px;
                  border-radius: 100px;
                  background: #ecfdf5;
                  padding: 12px;

                  .frame2 {
                    flex-shrink: 0;
                    width: 64px;
                    height: 64px;
                    overflow: hidden;
                  }
                }

                .frame163 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  row-gap: 4px;

                  .seniorBackendEnginee {
                    flex-shrink: 0;
                    align-self: stretch;
                    letter-spacing: -0.17px;
                    color: #000000;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                  }

                  .estimatedTime15Mins {
                    flex-shrink: 0;
                    align-self: stretch;
                    text-align: center;
                    letter-spacing: -0.17px;
                    color: #49659c;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                  }
                }
              }

              .frame162 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                column-gap: 19px;

                .frame159 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #dbeafe;
                  border-radius: 12px;
                  padding: 11px;
                  row-gap: 6px;

                  .iT {
                    flex-shrink: 0;
                    align-self: stretch;
                    text-align: center;
                    letter-spacing: -0.17px;
                    color: #0f172a;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }
                }

                .frame160 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: center;
                  border: 1px solid #dbeafe;
                  border-radius: 12px;
                  padding: 11px;
                  row-gap: 6px;

                  .hard {
                    flex-shrink: 0;
                    align-self: stretch;
                    padding: 2px 8px;
                    text-align: center;
                    line-height: 15px;
                    letter-spacing: -0.17px;
                    color: #f87171;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    text-transform: UPPERCASE;
                  }
                }

                .frame161 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #dbeafe;
                  border-radius: 12px;
                  padding: 11px;
                  row-gap: 6px;

                  .a10Questions {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: -0.17px;
                    color: #0f172a;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }
                }
              }
            }

            .frame172 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;

              .frame164 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 8px;
              }

              .frame171 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 4px;

                .a4984Reviews3 {
                  flex-shrink: 0;
                  line-height: 18px;
                  letter-spacing: -0.17px;
                  color: #000000;
                  font-size: 0;

                  .a4984Reviews {
                    letter-spacing: -0.17px;
                    color: #0f172a;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                  }

                  .a4984Reviews2 {
                    letter-spacing: -0.17px;
                    color: #6e6650;
                    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }

                .frame5 {
                  flex-shrink: 0;
                  width: 16px;
                  height: 16px;
                  overflow: hidden;
                }
              }
            }

            .frame165 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              border: 1px solid #dbeafe;
              border-radius: 12px;
              padding: 19px;
              row-gap: 12px;

              .frame1642 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: center;
                column-gap: 8px;
                margin-right: 235px;

                .frame6 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  padding: 2px;
                  overflow: hidden;

                  .vector3 {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    border-radius: 50%;
                    padding: 4px;

                    .vector2 {
                      display: flex;
                      flex-grow: 1;
                      align-items: center;
                      border-radius: 50%;
                      padding: 4px;

                      .vector {
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                      }
                    }
                  }
                }
              }

              .theAiWillTestYourKno {
                flex-shrink: 0;
                align-self: stretch;
                letter-spacing: -0.17px;
                color: #000000;
                font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }
          }

          .frame166 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            row-gap: 12px;

            .frame62 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 8px;
              border-radius: 20px;
              box-shadow: 0px 4px 6px -4px #0d59f240,
                0px 10px 15px -3px #0d59f240;
              background: #0d59f2;
              padding: 14px 56px;
              overflow: hidden;

              .startNow {
                flex-shrink: 0;
                line-height: 23px;
                letter-spacing: -0.17px;
                color: #ffffff;
                font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 700;
              }

              .frame7 {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                overflow: hidden;
              }
            }

            .readyToTestYourSkill {
              flex-shrink: 0;
              align-self: stretch;
              text-align: center;
              letter-spacing: -0.17px;
              color: #49659c;
              font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }
      }

      .aIPhoneXHomeIndicato {
        display: flex;
        position: absolute;
        bottom: -1px;
        left: 0;
        align-items: flex-start;
        padding: 21px 148px 8px 147px;
        width: 430px;
        height: 34px;

        .line {
          border-radius: 100px;
          background: var(--Black-01, #191d31);
          width: 135px;
          height: 5px;
        }
      }
    }
  }
}
